<?xml version="1.0" encoding="utf-8"?>
<Content Key="14f4f145-1453-47f0-b70e-5f393c6f4d23" Alias="Contact" Level="2">
	<Info>
		<Parent Key="8dbe4528-660a-4c5c-aa2b-99636e47f3e8">Onatrix - Home</Parent>
		<Path>/OnatrixHome/Contact</Path>
		<Trashed>false</Trashed>
		<ContentType>contact</ContentType>
		<CreateDate>2024-09-27T18:16:55</CreateDate>
		<NodeName Default="Contact" />
		<SortOrder>1</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="b4663049-2a90-4e95-a4b6-d729d6f60717">contact</Template>
	</Info>
	<Properties>
		<contactForm>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "udi": "umb://element/97e1fd56eb194f83ae30a758e2e936ca",
      "uniqueName": "name",
      "labelText": "Name",
      "placeholderText": "Enter your name",
      "inputType": "[\u0022Text\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your name"
    },
    {
      "contentTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "udi": "umb://element/90103c372bab4e7a9348b0b11a5a2535",
      "uniqueName": "email",
      "labelText": "Email Address",
      "placeholderText": "Enter your email address",
      "inputType": "[\u0022Email\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your email address"
    },
    {
      "contentTypeKey": "15b65d71-0c40-43f9-a1ad-b9fec0cdfb38",
      "udi": "umb://element/53b1a8367cdb4c188bef9467f1a608d9",
      "uniqueName": "message",
      "labelText": "Message",
      "placeholderText": "Enter your message",
      "isRequired": 1,
      "errorMessage": "You must enter a message"
    },
    {
      "contentTypeKey": "2c155760-a26e-42c9-ac15-0afaf56dfa1c",
      "udi": "umb://element/049ace17f5bd46cb9a606f257b44112f",
      "buttonText": "SEND",
      "buttonType": "[\u0022Submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/97e1fd56eb194f83ae30a758e2e936ca",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/90103c372bab4e7a9348b0b11a5a2535",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/53b1a8367cdb4c188bef9467f1a608d9",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/049ace17f5bd46cb9a606f257b44112f",
        "settingsUdi": null
      }
    ]
  }
}]]>
			</Value>
		</contactForm>
		<footer>
			<Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
		</footer>
		<information>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/e536afe4829f46988ecec5a83ca7246e",
      "sectionTitle": "Information",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "c832cebb-9b09-4474-81e1-03ababb735fe",
      "udi": "umb://element/e26aba6b4d1b4dada57dc468b7c3ec1d",
      "headlineContent": "Let us know about your next project"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/f2b175bdb52c49b59d7fe6454c6c117f",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EOffice location\\u003Cbr\\u003EKlarabergsviadukten 90, 111 52 Stockholm\\u003C/p\\u003E\\n\\u003Cp\\u003EPhone number\\u003Cbr\\u003E\\u002B46 8 123 456 75\\u003C/p\\u003E\\n\\u003Cp\\u003EE-mail address\\u003Cbr\\u003Esales@onatrix.com\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e536afe4829f46988ecec5a83ca7246e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/e26aba6b4d1b4dada57dc468b7c3ec1d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/f2b175bdb52c49b59d7fe6454c6c117f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</information>
		<pageTitle>
			<Value><![CDATA[Contact Us]]></Value>
		</pageTitle>
		<socialMedia>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/4f1fa68cd8894cb5abf64ee44dad3229",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "Facebook.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/cbb98c99f36d4fc989977cef26157b0f",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "X.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/f07b007e993a40048f80863c57f6e81f",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "Linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4f1fa68cd8894cb5abf64ee44dad3229",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/cbb98c99f36d4fc989977cef26157b0f",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/f07b007e993a40048f80863c57f6e81f",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]>
			</Value>
		</socialMedia>
	</Properties>
</Content>