<?xml version="1.0" encoding="utf-8"?>
<Content Key="b54c8217-92da-42ea-bca1-3b939ec6678b" Alias="Details" Level="3">
	<Info>
		<Parent Key="e329238c-d6ae-4fb8-860e-89815e545f9d">Project</Parent>
		<Path>/OnatrixHome/Project/Details</Path>
		<Trashed>false</Trashed>
		<ContentType>modularPage</ContentType>
		<CreateDate>2024-09-30T19:12:47</CreateDate>
		<NodeName Default="Details" />
		<SortOrder>0</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="a3012d34-f90a-40ea-94d6-2305a85d072d">modularPage</Template>
	</Info>
	<Properties>
		<footer>
			<Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
		</footer>
		<information>
			<Value>
				<![CDATA[{
  "markup": "\u003Ch3\u003E\u003Cstrong\u003ELet us know about your next project\u003C/strong\u003E\u003C/h3\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003EOffice location\u003Cbr\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/p\u003E\n\u003Cp\u003EPhone number\u003Cbr\u003E\u002B46 8 123 456 75\u003C/p\u003E\n\u003Cp\u003EE-mail address\u003Cbr\u003Esales@onatrix.com\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]>
			</Value>
		</information>
		<layout>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/0be7c97857b947b6a3361f171f178617",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "Report",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/896688d9850f49a09d3042c4297c120a",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EJune 15, 2024\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/c2c737e54905406da2b69a82b703e07d",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis."
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/5a8d0395d4d745cc963e77a80fe746cf",
      "selectedImage": "[{\u0022key\u0022:\u0022ed2fc31d-87fc-4d48-849a-b2d657cdda58\u0022,\u0022mediaKey\u0022:\u00220e037e14-5dd9-4405-8486-fed5e85ca9d4\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/ed32f2ec7bf7493e9a16920f0ca56630",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch4\\u003ESuggestions for you\\u003C/h4\\u003E\\n\\u003Cp\\u003E\\u0026nbsp;\\u003C/p\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\u003Cp\\u003E\\u0026nbsp;\\u003C/p\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EPellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\u003Cp\\u003E\\u0026nbsp;\\u003C/p\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EIn hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.\\u003C/li\\u003E\\n\\u003C/ul\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "udi": "umb://element/fa1bddef66bd428c8aae46748d27e08c"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/ae9e62adbedb4e0a8d39a5a0cdbbae4d",
      "selectedImage": "[{\u0022key\u0022:\u0022f3d34f38-2e22-451d-8a2b-bea79adaaf1f\u0022,\u0022mediaKey\u0022:\u0022510bd455-c08a-4c50-b179-3c91801f009b\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/ab6bafafa05d4f2d84f80a0881505297",
      "headlineContent": "Nunc facilisis ante quis gravida mollis"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/2ae625041a5447dc9253cc49816bf74a",
      "paragraphContent": "Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus."
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/01df965c5f624ce88cbbb09d4b80afd1",
      "paragraphContent": "Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum"
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/cb3da083737d4554a7d4ce39605923d7",
      "headlineContent": "Nullam at blandit felis, ut efficitur lorem. Nulla pharetra turpis eget dictum condimentum"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/34f17d41de1844b1887c83b001203a8e",
      "paragraphContent": "Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc, porttitor vitae elementum eget, condimentum lobortis metus. Aenean imperdiet suscipit dui"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/1321e60462754204b198ad35eb2292f7",
      "paragraphContent": "Integer quis massa sit amet diam feugiat molestie. Morbi egestas arcu eu sapien accumsan, et tempor velit viverra. Ut varius euismod malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus consequat urna maximus molestie. Sed facilisis maximus quam id pretium. Donec ac orci vel quam semper tristique. Maecenas facilisis, urna sed congue pellentesque, justo augue semper nulla"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/bf09c69039654ce1a2d66201ee5db187",
      "paragraphContent": "Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue."
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/6356779956a94aca9c3023661e8d4b4e",
      "selectedImage": "[{\u0022key\u0022:\u002242c4112c-9327-4698-864f-ef4b4d591582\u0022,\u0022mediaKey\u0022:\u0022feb753b2-f469-46ef-8c0d-d4afca2ba82c\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/d70af63718fe4f8a805c78ec66313618",
      "headlineContent": "Nunc facilisis ante quis gravida mollis"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/8362dfbc8fd94afa93b37ceff49959e8",
      "paragraphContent": "Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus. Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/5338f4f085b74ad9bf69bcc7f53ce631",
      "paragraphContent": "Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue."
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0be7c97857b947b6a3361f171f178617",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/896688d9850f49a09d3042c4297c120a",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/c2c737e54905406da2b69a82b703e07d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/5a8d0395d4d745cc963e77a80fe746cf",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/ed32f2ec7bf7493e9a16920f0ca56630",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/fa1bddef66bd428c8aae46748d27e08c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
                    "items": [
                      {
                        "contentUdi": "umb://element/ae9e62adbedb4e0a8d39a5a0cdbbae4d",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/ab6bafafa05d4f2d84f80a0881505297",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/2ae625041a5447dc9253cc49816bf74a",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/01df965c5f624ce88cbbb09d4b80afd1",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/cb3da083737d4554a7d4ce39605923d7",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/34f17d41de1844b1887c83b001203a8e",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/1321e60462754204b198ad35eb2292f7",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/bf09c69039654ce1a2d66201ee5db187",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/6356779956a94aca9c3023661e8d4b4e",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/d70af63718fe4f8a805c78ec66313618",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/8362dfbc8fd94afa93b37ceff49959e8",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/5338f4f085b74ad9bf69bcc7f53ce631",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</layout>
		<pageTitle>
			<Value><![CDATA[Annual Report for Juva Inc.]]></Value>
		</pageTitle>
		<socialMedia>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/e3703064d2db471d9c5838d634e26c43",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "Facebook.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/bd181b9bbafa4b4789a358291b935919",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "X.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/ca8f96bb162f4de1ac3a6169c4886d79",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "Linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e3703064d2db471d9c5838d634e26c43",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/bd181b9bbafa4b4789a358291b935919",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/ca8f96bb162f4de1ac3a6169c4886d79",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]>
			</Value>
		</socialMedia>
	</Properties>
</Content>