<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dbe4528-660a-4c5c-aa2b-99636e47f3e8" Alias="Onatrix - Home" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/OnatrixHome</Path>
		<Trashed>false</Trashed>
		<ContentType>homePage</ContentType>
		<CreateDate>2024-09-11T19:34:11</CreateDate>
		<NodeName Default="Onatrix - Home" />
		<SortOrder>0</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="54cc3ba7-436d-4272-b3b0-d0e2fa020c89">homePage</Template>
	</Info>
	<Properties>
		<aboutHeadline>
			<Value><![CDATA[We have 40 years experience]]></Value>
		</aboutHeadline>
		<aboutQuote>
			<Value><![CDATA[We have over 25 years of experience providing expert financial advice to both businesses and individuals.]]></Value>
		</aboutQuote>
		<aboutRequest>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "udi": "umb://element/740a8a6ac1bd40adab54ab0ae53e8b64",
      "uniqueName": "Name",
      "labelText": "Name",
      "placeholderText": "Name",
      "inputType": "[\u0022Text\u0022]",
      "isRequired": 1,
      "errorMessage": "Enter your name"
    },
    {
      "contentTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "udi": "umb://element/1aaac7fad6904c8d919eda07fbfee282",
      "uniqueName": "Email address",
      "labelText": "Email address",
      "placeholderText": "Email address",
      "inputType": "[\u0022Email\u0022]",
      "isRequired": 1,
      "errorMessage": "Enter a valid email address"
    },
    {
      "contentTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "udi": "umb://element/403c945a0e4344d19c50ccacbae6239d",
      "uniqueName": "Phone",
      "labelText": "Phone",
      "placeholderText": "Phone",
      "inputType": "[\u0022Phone\u0022]",
      "isRequired": 1,
      "errorMessage": "Enter a valid phone number"
    },
    {
      "contentTypeKey": "2c155760-a26e-42c9-ac15-0afaf56dfa1c",
      "udi": "umb://element/dcb1cb99df234873a941e803310686f5",
      "buttonText": "Submit",
      "buttonType": "[\u0022Submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/740a8a6ac1bd40adab54ab0ae53e8b64",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1aaac7fad6904c8d919eda07fbfee282",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/403c945a0e4344d19c50ccacbae6239d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/dcb1cb99df234873a941e803310686f5",
        "settingsUdi": null
      }
    ]
  }
}]]>
			</Value>
		</aboutRequest>
		<aboutSectionTitle>
			<Value><![CDATA[ABOUT US]]></Value>
		</aboutSectionTitle>
		<aboutSignature>
			<Value><![CDATA[Tina Fox CEO & Founder]]></Value>
		</aboutSignature>
		<aboutSignatureImage>
			<Value><![CDATA[]]></Value>
		</aboutSignatureImage>
		<aboutText>
			<Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
		</aboutText>
		<footer>
			<Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
		</footer>
		<heroBackgroundImage>
			<Value><![CDATA[]]></Value>
		</heroBackgroundImage>
		<heroButtonText>
			<Value><![CDATA[Contact us]]></Value>
		</heroButtonText>
		<heroButtonUrl>
			<Value><![CDATA[/contact]]></Value>
		</heroButtonUrl>
		<heroHeadline>
			<Value><![CDATA[We bring success to you]]></Value>
		</heroHeadline>
		<heroText>
			<Value><![CDATA[Lorem ipsum dolor sit amet. consectetur. adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.]]></Value>
		</heroText>
		<ourProjects>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/3f65c108c6fb47069836f64b6a4a527c",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "OUR PROJECTS",
      "centerContentOnPage": 1
    },
    {
      "contentTypeKey": "c832cebb-9b09-4474-81e1-03ababb735fe",
      "udi": "umb://element/a30255ac516245acb0c4ba3cc9aa2447",
      "headlineContent": "OUR PROJECTS"
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/62fc4d91b0a44ab0870b24db42addc5f",
      "headlineContent": "Recent projects"
    },
    {
      "contentTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "udi": "umb://element/bbda702cc53c4969ba88e5b14444f573"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/ec121d9928f641a8985469e338deff71",
      "selectedImage": "[{\u0022key\u0022:\u0022574a4b62-bfc6-42c0-ad04-cf009903b23a\u0022,\u0022mediaKey\u0022:\u0022a0141d30-3d79-4c94-a3b1-793cd74c97ff\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/9e86d39d82ff47fe9459a447dfc51a18",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E\\u003Cstrong\\u003EAnnual Report for Juva Inc.\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003EFinancial Services\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/89c4d07ac86c47b09b4c575dae8f1ba2",
      "selectedImage": "[{\u0022key\u0022:\u0022fe07d4df-143e-4318-9529-be68c9fcf384\u0022,\u0022mediaKey\u0022:\u00223ac8b89e-87fe-4e2d-89f8-783a6de148c8\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/03a9aa32be6742e8a09c4b900e87a22c",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E\\u003Cstrong\\u003EBusiness Insights for SP Group Inc.\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003EFinancial Services\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/29eff6044bb84487bc94be673929a242",
      "selectedImage": "[{\u0022key\u0022:\u0022059a90be-c60e-4741-9ba8-3c44c43449d8\u0022,\u0022mediaKey\u0022:\u002203fae12f-5dc2-4f7b-9e29-b99504282a71\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/cfe9504ccb1243f79941965628b8d03e",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E\\u003Cstrong\\u003EFinancial Advisors to Irra Corp Inc.\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003EFinancial Services\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/489c26241c3e4fc8ac853869c1b5399b",
      "selectedImage": "[{\u0022key\u0022:\u0022f571fe7f-faa3-4fc5-b467-cfeaf423cc73\u0022,\u0022mediaKey\u0022:\u0022dd4f6067-8764-414b-b1fa-6737ca9bb8b7\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/301221a554804bcfadcf5f9adb79d1ce",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E\\u003Cstrong\\u003EBudget Planning for Buccura\\u003C/strong\\u003E Inc.\\u003C/p\\u003E\\n\\u003Cp\\u003EFinancial Services\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3f65c108c6fb47069836f64b6a4a527c",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/a30255ac516245acb0c4ba3cc9aa2447",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/62fc4d91b0a44ab0870b24db42addc5f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/bbda702cc53c4969ba88e5b14444f573",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
                    "items": [
                      {
                        "contentUdi": "umb://element/ec121d9928f641a8985469e338deff71",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/9e86d39d82ff47fe9459a447dfc51a18",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/89c4d07ac86c47b09b4c575dae8f1ba2",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/03a9aa32be6742e8a09c4b900e87a22c",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/29eff6044bb84487bc94be673929a242",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/cfe9504ccb1243f79941965628b8d03e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/489c26241c3e4fc8ac853869c1b5399b",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/301221a554804bcfadcf5f9adb79d1ce",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</ourProjects>
		<pageTitle>
			<Value><![CDATA[Home]]></Value>
		</pageTitle>
		<readButton>
			<Value><![CDATA[Read our story]]></Value>
		</readButton>
		<readButtonUrl>
			<Value><![CDATA[/about]]></Value>
		</readButtonUrl>
		<socialMedia>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/4c844ecdb480429f979a1b11ed900ebe",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "facebook.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/5075321380184b64a8ece95e2ec91e7c",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "x.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/b90b6fcc378e43cca0a9f8fdf1640201",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4c844ecdb480429f979a1b11ed900ebe",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/5075321380184b64a8ece95e2ec91e7c",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/b90b6fcc378e43cca0a9f8fdf1640201",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]>
			</Value>
		</socialMedia>
		<successStories>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/c37fd5907c8a49f2ba40562e8c846712",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "sectionTitle": "SUCCESS STORIES",
      "addSpaceToBottom": 1,
      "centerContentOnPage": 1
    },
    {
      "contentTypeKey": "c832cebb-9b09-4474-81e1-03ababb735fe",
      "udi": "umb://element/f1c4ed489a8d411bbec28aee0a806995",
      "headlineContent": "SUCCESS STORIES"
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/3d7ea2f46c4445e5b40e820d98442ece",
      "headlineContent": "Success story"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/3111d079f9d74c598db3968bc1114d29",
      "paragraphContent": "\nMore than 100 customers has been served"
    },
    {
      "contentTypeKey": "f9148835-deff-4601-a35e-bb3e22d8ecaf",
      "udi": "umb://element/2d33cc0a7bf340cb943025248d7daf07",
      "headlineContent": "689"
    },
    {
      "contentTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "udi": "umb://element/c2537d0c42154817be5871e1aaa15f34"
    },
    {
      "contentTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "udi": "umb://element/8aacca27f7bb4eddb6d8938be4edf2e2"
    },
    {
      "contentTypeKey": "f9148835-deff-4601-a35e-bb3e22d8ecaf",
      "udi": "umb://element/aded5d554a8e4008ba59861630a3347f",
      "headlineContent": "370"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/5678eb3aeed54a5f882dceea08a1ae21",
      "paragraphContent": "More than 370 projects has been completed"
    },
    {
      "contentTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "udi": "umb://element/b19214e5beab49f5b7f3d5b29c2809e4"
    },
    {
      "contentTypeKey": "f9148835-deff-4601-a35e-bb3e22d8ecaf",
      "udi": "umb://element/e20a7482cb224277b20e5825feb8148e",
      "headlineContent": "125"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/bdebf96e494140199450affcd2ffb665",
      "paragraphContent": "More than 125 branches has been established in Europe and America"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/8ebfc51092a041dd8274cdaf9a060004",
      "selectedImage": "[{\u0022key\u0022:\u00224127924a-aaee-4fca-80d5-4a788929df59\u0022,\u0022mediaKey\u0022:\u0022e1e1a032-bc60-48bb-ad95-a41911bba621\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c37fd5907c8a49f2ba40562e8c846712",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/f1c4ed489a8d411bbec28aee0a806995",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/3d7ea2f46c4445e5b40e820d98442ece",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/c2537d0c42154817be5871e1aaa15f34",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
                    "items": [
                      {
                        "contentUdi": "umb://element/2d33cc0a7bf340cb943025248d7daf07",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/3111d079f9d74c598db3968bc1114d29",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/8aacca27f7bb4eddb6d8938be4edf2e2",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
                    "items": [
                      {
                        "contentUdi": "umb://element/aded5d554a8e4008ba59861630a3347f",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/5678eb3aeed54a5f882dceea08a1ae21",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/b19214e5beab49f5b7f3d5b29c2809e4",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
                    "items": [
                      {
                        "contentUdi": "umb://element/e20a7482cb224277b20e5825feb8148e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/bdebf96e494140199450affcd2ffb665",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/8ebfc51092a041dd8274cdaf9a060004",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</successStories>
		<trusted>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/bcbbb57342274dd88eadbc03fe3c7988",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "We are trusted",
      "addSpaceToTop": 1,
      "centerContentOnPage": 1
    },
    {
      "contentTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "udi": "umb://element/d150d5d7fafb44a6bb35f9b9be8d90b7",
      "headlineContent": "We are trusted by more than 4.000\u002B clients"
    },
    {
      "contentTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "udi": "umb://element/9b187aeeb3544fb49547968a4af1e14e",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bcbbb57342274dd88eadbc03fe3c7988",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/d150d5d7fafb44a6bb35f9b9be8d90b7",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/9b187aeeb3544fb49547968a4af1e14e",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</trusted>
	</Properties>
</Content>