<?xml version="1.0" encoding="utf-8"?>
<Content Key="e329238c-d6ae-4fb8-860e-89815e545f9d" Alias="Project" Level="2">
	<Info>
		<Parent Key="8dbe4528-660a-4c5c-aa2b-99636e47f3e8">Onatrix - Home</Parent>
		<Path>/OnatrixHome/Project</Path>
		<Trashed>false</Trashed>
		<ContentType>modularPage</ContentType>
		<CreateDate>2024-09-30T19:05:38</CreateDate>
		<NodeName Default="Project" />
		<SortOrder>4</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="a3012d34-f90a-40ea-94d6-2305a85d072d">modularPage</Template>
	</Info>
	<Properties>
		<footer>
			<Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
		</footer>
		<information>
			<Value>
				<![CDATA[{
  "markup": "\u003Ch3\u003E\u003Cstrong\u003ELet us know about your next project\u003C/strong\u003E\u003C/h3\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003EOffice location\u003Cbr\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/p\u003E\n\u003Cp\u003EPhone number\u003Cbr\u003E\u002B46 8 123 456 75\u003C/p\u003E\n\u003Cp\u003EE-mail address\u003Cbr\u003Esales@onatrix.com\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]>
			</Value>
		</information>
		<layout>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/b21168f47d024f1ca5ecc591aa6ce2fe",
      "sectionTitle": "Annual Report for Juva Inc.",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/d7ff9ff8cea24f48ba56a38ad634ef36",
      "sectionTitle": "Business Insights for SP Group...",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/d72753784db74e23beea5d16593c16a4",
      "sectionTitle": "Financial Advisors for Irra Grou...",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "udi": "umb://element/ca7e9be8d12b45ed83ff01da52014836",
      "sectionTitle": "Budget Planning for Buccura In...",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 1,
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/fa7c7fd645604dba83b423960f95d482",
      "selectedImage": "[{\u0022key\u0022:\u0022b209ad66-aacb-422c-9d84-f8678ffb1641\u0022,\u0022mediaKey\u0022:\u00222902c1a5-c195-469b-ac4c-5be53602393a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Annual Report for Juva Inc."
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/f45aba5c7dca4380889c6534c511ffff",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch4\\u003EAnnual Report for Juva Inc.\\u003C/h4\\u003E\\n\\u003Cp\\u003EJune 15, 2024\\u003C/p\\u003E\\n\\u003Cp\\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003ERead more\\u003C/strong\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/bb5a9690d44c4e81b1e216b976ec8939",
      "selectedImage": "[{\u0022key\u0022:\u002289cab23a-3199-4c5d-a99a-9e045569cd9e\u0022,\u0022mediaKey\u0022:\u00224324093d-de65-4edb-8296-abdf18f3c8a3\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Business Insights for SP Group..."
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/cb659f1c1e0b41fa87a4bc2bfbfc15c1",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch4\\u003EBusiness Insights for SP Group...\\u003C/h4\\u003E\\n\\u003Cp\\u003EMay 17, 2024\\u003C/p\\u003E\\n\\u003Cp\\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003ERead more\\u003C/strong\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/0526c89b45594e94a1873e0b744fa8c8",
      "selectedImage": "[{\u0022key\u0022:\u002226bc01dd-eb74-43ba-a778-15baa33911cd\u0022,\u0022mediaKey\u0022:\u0022bbc45b29-adbc-420d-9472-98f3a9e7f92a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Financial Advisors for Irra Grou..."
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/7e8c2838cee844129ba0f755f544ff67",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch4\\u003EFinancial Advisors for Irra Grou...\\u003C/h4\\u003E\\n\\u003Cp\\u003EFebruary 6, 2024\\u003C/p\\u003E\\n\\u003Cp\\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003ERead more\\u003C/strong\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "udi": "umb://element/40ccdd4e9a1c49628293288261915c44",
      "selectedImage": "[{\u0022key\u0022:\u00224d47f2c9-2464-4bf0-8d5f-a23ddd894989\u0022,\u0022mediaKey\u0022:\u0022f81315db-7240-48cc-a121-e7112535fe61\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Budget Planning for Buccura In..."
    },
    {
      "contentTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "udi": "umb://element/f260014a6ce44ab6bfad0ed792f58f14",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch4\\u003EBudget Planning for Buccura In...\\u003C/h4\\u003E\\n\\u003Cp\\u003EJanuary 3, 2024\\u003C/p\\u003E\\n\\u003Cp\\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003ERead more\\u003C/strong\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b21168f47d024f1ca5ecc591aa6ce2fe",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/fa7c7fd645604dba83b423960f95d482",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/f45aba5c7dca4380889c6534c511ffff",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/d7ff9ff8cea24f48ba56a38ad634ef36",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/bb5a9690d44c4e81b1e216b976ec8939",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/cb659f1c1e0b41fa87a4bc2bfbfc15c1",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/d72753784db74e23beea5d16593c16a4",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/0526c89b45594e94a1873e0b744fa8c8",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/7e8c2838cee844129ba0f755f544ff67",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/ca7e9be8d12b45ed83ff01da52014836",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
            "items": [
              {
                "contentUdi": "umb://element/40ccdd4e9a1c49628293288261915c44",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/f260014a6ce44ab6bfad0ed792f58f14",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]>
			</Value>
		</layout>
		<pageTitle>
			<Value><![CDATA[Our Projects]]></Value>
		</pageTitle>
		<socialMedia>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/21269ed261584dc49dd4d3d9c0bd1485",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "Facebook.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/eaefffbd55d74a519631c8080c82cf5f",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "X.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/2f2c31f1a07342aa9ee81180e4aa93e3",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "Linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/21269ed261584dc49dd4d3d9c0bd1485",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/eaefffbd55d74a519631c8080c82cf5f",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/2f2c31f1a07342aa9ee81180e4aa93e3",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]>
			</Value>
		</socialMedia>
	</Properties>
</Content>