<?xml version="1.0" encoding="utf-8"?>
<Content Key="be5c0a86-6003-4dac-a0c5-9e6806560eb6" Alias="Services" Level="2">
	<Info>
		<Parent Key="8dbe4528-660a-4c5c-aa2b-99636e47f3e8">Onatrix - Home</Parent>
		<Path>/OnatrixHome/Services</Path>
		<Trashed>false</Trashed>
		<ContentType>serviceListPage</ContentType>
		<CreateDate>2024-09-26T18:23:24</CreateDate>
		<NodeName Default="Services" />
		<SortOrder>0</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="fc6cea71-34ef-4896-a952-a63f0486e55c">serviceListPage</Template>
	</Info>
	<Properties>
		<customHeadline>
			<Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
		</customHeadline>
		<footer>
			<Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
		</footer>
		<information>
			<Value>
				<![CDATA[{
  "markup": "\u003Ch3\u003ELet us know about your next project\u003C/h3\u003E\n\u003Cp\u003EOffice location\u003Cbr\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/p\u003E\n\u003Cp\u003EPhone number\u003Cbr\u003E\u002B46 8 123 456 75\u003C/p\u003E\n\u003Cp\u003EE-mail address\u003Cbr\u003Esales@onatrix.com\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]>
			</Value>
		</information>
		<pageTitle>
			<Value><![CDATA[Our Services]]></Value>
		</pageTitle>
		<socialMedia>
			<Value>
				<![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/2afc91d3643f4f108662358388e36f66",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "Facebook.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/48073095b6ff407ab41cf7cdd31c539d",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "X.com"
    },
    {
      "contentTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "udi": "umb://element/caa9c5b069f44cc89b46977f104725ee",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "Linkedin.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2afc91d3643f4f108662358388e36f66",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/48073095b6ff407ab41cf7cdd31c539d",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/caa9c5b069f44cc89b46977f104725ee",
        "settingsUdi": null,
        "columnSpan": 3,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]>
			</Value>
		</socialMedia>
	</Properties>
</Content>