<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0e0cb69-e8da-4a56-b8f1-0aaaea2ce054" Alias="contact" Level="2">
	<Info>
		<Name>Contact</Name>
		<Icon>icon-notepad</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>True</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>false</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Pages</Folder>
		<Compositions />
		<DefaultTemplate>contact</DefaultTemplate>
		<AllowedTemplates>
			<Template Key="b4663049-2a90-4e95-a4b6-d729d6f60717">contact</Template>
		</AllowedTemplates>
	</Info>
	<Structure>
		<ContentType Key="01e3bc0b-7959-4e30-9154-ec46e618d35c" SortOrder="0">modularPage</ContentType>
	</Structure>
	<GenericProperties>
		<GenericProperty>
			<Key>8ad2b558-d74f-4f16-bf05-8e9f553cbf8b</Key>
			<Name>Contact Form</Name>
			<Alias>contactForm</Alias>
			<Definition>5d137a11-1fb1-43c2-aac2-f63c640e9c35</Definition>
			<Type>Umbraco.BlockList</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/contactForm">Contact Form</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>f08628db-1230-4ead-89fb-88b8cefcf507</Key>
			<Name>Footer</Name>
			<Alias>footer</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/footer">Footer</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>6e32f2af-b418-421a-a127-bd1b5f208c91</Key>
			<Name>Information</Name>
			<Alias>information</Alias>
			<Definition>3656d526-da88-429e-a97a-c1bc95f90519</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/information">Information</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>bced3c30-59e9-424a-9d3f-33391f0249d6</Key>
			<Name>Page Title</Name>
			<Alias>pageTitle</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>3db30291-ff48-49e9-a501-90f5d2537757</Key>
			<Name>Social Media</Name>
			<Alias>socialMedia</Alias>
			<Definition>c66bf195-327d-4ab7-984e-2603d354aef6</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/socialMedia">Social Media</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>018824c8-641c-4393-802d-9fdea5a03860</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>07a68f84-595e-4fde-8356-9608919247ba</Key>
			<Caption>Contact Form</Caption>
			<Alias>content/contactForm</Alias>
			<Type>Group</Type>
			<SortOrder>2</SortOrder>
		</Tab>
		<Tab>
			<Key>4a5852e1-f2f8-46a0-853b-a1a5819d6a4b</Key>
			<Caption>Information</Caption>
			<Alias>content/information</Alias>
			<Type>Group</Type>
			<SortOrder>1</SortOrder>
		</Tab>
		<Tab>
			<Key>6fc37d48-3385-4475-b83f-f39b9b7bef71</Key>
			<Caption>Footer</Caption>
			<Alias>content/footer</Alias>
			<Type>Group</Type>
			<SortOrder>4</SortOrder>
		</Tab>
		<Tab>
			<Key>e1a4d60b-f155-46a4-872b-d1da1577c162</Key>
			<Caption>Social Media</Caption>
			<Alias>content/socialMedia</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>