<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c155760-a26e-42c9-ac15-0afaf56dfa1c" Alias="formButton" Level="3">
	<Info>
		<Name>Button</Name>
		<Icon>icon-rectangle-ellipsis</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Blocks/HTML+Elements</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>7093e2a9-82a7-43ab-9926-e4f08bc14728</Key>
			<Name>Button Text</Name>
			<Alias>buttonText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>578834fe-b974-4d3c-b9e2-37dd7256fef0</Key>
			<Name>Button Type</Name>
			<Alias>buttonType</Alias>
			<Definition>1ecac765-4fd4-46c0-9700-73778de52e1c</Definition>
			<Type>Umbraco.DropDown.Flexible</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>9b71141d-7146-4ed1-a7cc-d2cfa1200184</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>