<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3b3716b-4f88-4cbd-82e9-746510131674" Alias="homePage" Level="2">
	<Info>
		<Name>Home Page</Name>
		<Icon>icon-notepad</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>True</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>false</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Pages</Folder>
		<Compositions />
		<DefaultTemplate>homePage</DefaultTemplate>
		<AllowedTemplates>
			<Template Key="54cc3ba7-436d-4272-b3b0-d0e2fa020c89">homePage</Template>
		</AllowedTemplates>
	</Info>
	<Structure>
		<ContentType Key="01e3bc0b-7959-4e30-9154-ec46e618d35c" SortOrder="0">modularPage</ContentType>
		<ContentType Key="b6a103ce-8026-4b73-bd73-a6975d30c626" SortOrder="1">serviceListPage</ContentType>
		<ContentType Key="f0e0cb69-e8da-4a56-b8f1-0aaaea2ce054" SortOrder="2">contact</ContentType>
	</Structure>
	<GenericProperties>
		<GenericProperty>
			<Key>464e3b28-fb56-4067-8844-138dd2982300</Key>
			<Name>About - Headline</Name>
			<Alias>aboutHeadline</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8a0490b0-64a7-4321-84eb-56bcbdeb189e</Key>
			<Name>About - Quote</Name>
			<Alias>aboutQuote</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>ea773b85-b8c0-4da2-8649-c703563fbd9d</Key>
			<Name>About - Request</Name>
			<Alias>aboutRequest</Alias>
			<Definition>5d137a11-1fb1-43c2-aac2-f63c640e9c35</Definition>
			<Type>Umbraco.BlockList</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>4</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>650fc322-e896-4031-a539-1d9f0be4b8fe</Key>
			<Name>About - Section Title</Name>
			<Alias>aboutSectionTitle</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>1ec6c9f9-b2b7-4d65-80cf-1c717350cda0</Key>
			<Name>About - Signature</Name>
			<Alias>aboutSignature</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>6</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>7772d09b-0644-415c-b1e0-0b9c17ff70af</Key>
			<Name>About - Signature Image</Name>
			<Alias>aboutSignatureImage</Alias>
			<Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
			<Type>Umbraco.MediaPicker3</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>5</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>c5a250f9-daea-4d7a-9e1d-fee75975f007</Key>
			<Name>About - Text</Name>
			<Alias>aboutText</Alias>
			<Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
			<Type>Umbraco.TextArea</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>3</SortOrder>
			<Tab Alias="content/aboutUsSection">About Us Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8cea611c-57d8-48f8-89ac-8f3669bab1ec</Key>
			<Name>Footer</Name>
			<Alias>footer</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/footer">Footer</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>52dbd422-607e-433f-8b2d-20793b1e6d26</Key>
			<Name>Hero - Background Image</Name>
			<Alias>heroBackgroundImage</Alias>
			<Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
			<Type>Umbraco.MediaPicker3</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>4</SortOrder>
			<Tab Alias="content/heroSection">Hero Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>5b6472c3-8c5d-4540-a5bb-258f0a3fb72e</Key>
			<Name>Hero - Button Text</Name>
			<Alias>heroButtonText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content/heroSection">Hero Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>4f1d6994-1b0a-4478-a2d7-f13949e06445</Key>
			<Name>Hero - Button Url</Name>
			<Alias>heroButtonUrl</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>3</SortOrder>
			<Tab Alias="content/heroSection">Hero Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>e1c35316-bf1d-49de-be31-92f8c63596d4</Key>
			<Name>Hero - Headline</Name>
			<Alias>heroHeadline</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/heroSection">Hero Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>5fa1df0a-4cfe-447b-80e8-2753ee1c1eba</Key>
			<Name>Hero - Text</Name>
			<Alias>heroText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content/heroSection">Hero Section</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>6a953cfe-01d2-4658-9b40-0ffd66d4c576</Key>
			<Name>OUR PROJECTS</Name>
			<Alias>ourProjects</Alias>
			<Definition>3656d526-da88-429e-a97a-c1bc95f90519</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/oURPROJECTS">OUR PROJECTS</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>2261c715-2181-4b13-89b9-a5763bbea33f</Key>
			<Name>Page Title</Name>
			<Alias>pageTitle</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>641ab40f-6213-44c6-9c48-519a6a7b9943</Key>
			<Name>Read Button</Name>
			<Alias>readButton</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content/trusted">Trusted</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>a94bc67e-f39e-4c3e-a2f5-d2bf474032fb</Key>
			<Name>Read Button Url</Name>
			<Alias>readButtonUrl</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content/trusted">Trusted</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>ae5df25c-adb0-49cf-8dd0-c72ecb91ff7e</Key>
			<Name>Social Media</Name>
			<Alias>socialMedia</Alias>
			<Definition>c66bf195-327d-4ab7-984e-2603d354aef6</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/socialMedia">Social Media</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>659acd03-3446-4f1b-a0de-18c6ac04064c</Key>
			<Name>SUCCESS STORIES</Name>
			<Alias>successStories</Alias>
			<Definition>3656d526-da88-429e-a97a-c1bc95f90519</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/sUCCESSSTORIES">SUCCESS STORIES</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>27bda4a9-0ac3-4625-89e8-94dbd3ba896b</Key>
			<Name>Trusted</Name>
			<Alias>trusted</Alias>
			<Definition>3656d526-da88-429e-a97a-c1bc95f90519</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/trusted">Trusted</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>12e6f083-b1cd-459a-a89e-5afa73025cc7</Key>
			<Caption>Footer</Caption>
			<Alias>content/footer</Alias>
			<Type>Group</Type>
			<SortOrder>9</SortOrder>
		</Tab>
		<Tab>
			<Key>62ca1f36-284f-4ed4-8a30-8e558dbb9e9a</Key>
			<Caption>OUR PROJECTS</Caption>
			<Alias>content/oURPROJECTS</Alias>
			<Type>Group</Type>
			<SortOrder>8</SortOrder>
		</Tab>
		<Tab>
			<Key>7505c2dc-0c54-46f1-914a-4215de116fa2</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>7c80dbe1-1f57-4b23-be68-b5283279f2ab</Key>
			<Caption>About Us Section</Caption>
			<Alias>content/aboutUsSection</Alias>
			<Type>Group</Type>
			<SortOrder>2</SortOrder>
		</Tab>
		<Tab>
			<Key>936b9a13-873e-462a-9d4f-1026c0e54a54</Key>
			<Caption>Social Media</Caption>
			<Alias>content/socialMedia</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>ae24ca0a-9e59-430e-b5f8-b13134c8dedd</Key>
			<Caption>Trusted</Caption>
			<Alias>content/trusted</Alias>
			<Type>Group</Type>
			<SortOrder>4</SortOrder>
		</Tab>
		<Tab>
			<Key>f643358e-7465-4915-a3f3-e12b7f253e90</Key>
			<Caption>Hero Section</Caption>
			<Alias>content/heroSection</Alias>
			<Type>Group</Type>
			<SortOrder>1</SortOrder>
		</Tab>
		<Tab>
			<Key>f70a1f94-d6a2-4282-993d-08915c2ad5b8</Key>
			<Caption>SUCCESS STORIES</Caption>
			<Alias>content/sUCCESSSTORIES</Alias>
			<Type>Group</Type>
			<SortOrder>6</SortOrder>
		</Tab>
	</Tabs>
</ContentType>