<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff239bff-e236-4d81-9099-89204eb2acb4" Alias="inputPassword" Level="3">
	<Info>
		<Name>InputPassword</Name>
		<Icon>icon-autofill</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Blocks/HTML+Elements</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>d622ff5a-3ab0-44af-bccc-ae7634577a26</Key>
			<Name>Error Message</Name>
			<Alias>errorMessage</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>ee7be211-bf5b-4985-a487-d21cdab4446b</Key>
			<Name>Is Required</Name>
			<Alias>isRequired</Alias>
			<Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
			<Type>Umbraco.TrueFalse</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>75fe511a-1ac5-4af6-a9fe-cf7d5de19d16</Key>
			<Name>Label Text</Name>
			<Alias>labelText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>974a0795-714f-4ec0-be16-4a1311718167</Key>
			<Name>Placeholder Text</Name>
			<Alias>placeholderText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>511f3223-8772-4090-a8e4-c5a5341ff280</Key>
			<Name>Regular Expression Pattern</Name>
			<Alias>regularExpressionPattern</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>3</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>1f60b57f-c3aa-4f08-8505-57e05bff80c9</Key>
			<Name>Unique Name</Name>
			<Alias>uniqueName</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>e2a89469-85af-49a8-bedb-d4c4b4a51119</Key>
			<Name>Use Regular Expression</Name>
			<Alias>useRegularExpression</Alias>
			<Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
			<Type>Umbraco.TrueFalse</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>4109c8a0-16c9-4355-9c60-9d60cd819477</Key>
			<Caption>Error Content</Caption>
			<Alias>content/errorContent</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>a34780fe-7609-49b0-9575-ca6039a2187c</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>