<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d2dc48f-d0a1-4332-a125-906d7b5f4f99" Alias="inputText" Level="3">
	<Info>
		<Name>InputText</Name>
		<Icon>icon-autofill</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Blocks/HTML+Elements</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>4ad71f5f-9ece-4d64-98d3-2dbb3430f308</Key>
			<Name>Error Message</Name>
			<Alias>errorMessage</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8249ea32-d8ef-48cb-88a3-44f982334235</Key>
			<Name>Input Type</Name>
			<Alias>inputType</Alias>
			<Definition>f864a250-3cb1-4a10-a02b-7426370e544a</Definition>
			<Type>Umbraco.DropDown.Flexible</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>4</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>02b19cbe-f426-4a75-8628-65d1790848d9</Key>
			<Name>Is Required</Name>
			<Alias>isRequired</Alias>
			<Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
			<Type>Umbraco.TrueFalse</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>692c963b-8555-4472-9c3c-d6258ac9f0a2</Key>
			<Name>Label Text</Name>
			<Alias>labelText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>1a1a93a8-cd35-4a51-aada-e41d0fe842cf</Key>
			<Name>Placeholder Text</Name>
			<Alias>placeholderText</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>3</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>7d01a88d-c70b-46c9-95fc-1c8769440741</Key>
			<Name>Regular Expression Pattern</Name>
			<Alias>regularExpressionPattern</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>3</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8d772726-8ba3-4ede-906e-d2c65bc01147</Key>
			<Name>Unique Name</Name>
			<Alias>uniqueName</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>b649e904-35b7-40f6-bf0b-64b64b696977</Key>
			<Name>Use Regular Expression</Name>
			<Alias>useRegularExpression</Alias>
			<Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
			<Type>Umbraco.TrueFalse</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>2</SortOrder>
			<Tab Alias="content/errorContent">Error Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>67b7205b-5e1c-4641-b13f-2ab87fffc995</Key>
			<Caption>Error Content</Caption>
			<Alias>content/errorContent</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>d910690d-9830-4f29-8862-99fcf56c0f97</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>