<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6a103ce-8026-4b73-bd73-a6975d30c626" Alias="serviceListPage" Level="2">
	<Info>
		<Name>Service List Page</Name>
		<Icon>icon-thumbnail-list</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description>For listing service items</Description>
		<AllowAtRoot>False</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>false</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Pages</Folder>
		<Compositions />
		<DefaultTemplate>serviceListPage</DefaultTemplate>
		<AllowedTemplates>
			<Template Key="fc6cea71-34ef-4896-a952-a63f0486e55c">serviceListPage</Template>
		</AllowedTemplates>
	</Info>
	<Structure>
		<ContentType Key="d596158c-4535-4c5b-9278-16be6f4fa6b1" SortOrder="0">serviceItemTemplate</ContentType>
	</Structure>
	<GenericProperties>
		<GenericProperty>
			<Key>bd37791a-530f-42b6-94ff-b5666213d91a</Key>
			<Name>Custom Headline</Name>
			<Alias>customHeadline</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8902446a-6af4-45c5-8c6c-8ea3a9d93465</Key>
			<Name>Footer</Name>
			<Alias>footer</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/footer">Footer</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>2a095771-988a-4a36-8f3b-a06d1b721e87</Key>
			<Name>Information</Name>
			<Alias>information</Alias>
			<Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
			<Type>Umbraco.RichText</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/information">Information</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>8c4abbdc-94c5-48b7-b948-9b72af736647</Key>
			<Name>Page Title</Name>
			<Alias>pageTitle</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>386c69d5-86cf-4fd0-8c1d-d481e946bdcd</Key>
			<Name>Social Media</Name>
			<Alias>socialMedia</Alias>
			<Definition>c66bf195-327d-4ab7-984e-2603d354aef6</Definition>
			<Type>Umbraco.BlockGrid</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content/socialMedia">Social Media</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>08deb32f-9a13-4f32-885e-88dd5b90b576</Key>
			<Caption>Social Media</Caption>
			<Alias>content/socialMedia</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>0b1e9292-a911-4ef9-af91-4bc61c6852ac</Key>
			<Caption>Footer</Caption>
			<Alias>content/footer</Alias>
			<Type>Group</Type>
			<SortOrder>2</SortOrder>
		</Tab>
		<Tab>
			<Key>4ebcda70-04c0-4720-ae70-718bbd885e25</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
		<Tab>
			<Key>f50db112-b3a1-42e2-a775-7c1f5bbb37cd</Key>
			<Caption>Information</Caption>
			<Alias>content/information</Alias>
			<Type>Group</Type>
			<SortOrder>1</SortOrder>
		</Tab>
	</Tabs>
</ContentType>