<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9fa3c338-2212-440a-9272-84ce57c90345" Alias="socialMediaItem" Level="4">
	<Info>
		<Name>Social Media Item</Name>
		<Icon>icon-plugin</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<ListView>00000000-0000-0000-0000-000000000000</ListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Blocks/Custom+Sections/Social+Media</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>e12e8a33-b0ae-47e8-bd2b-8e4e4c498a36</Key>
			<Name>Platform Account Url</Name>
			<Alias>platformAccountUrl</Alias>
			<Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
			<Type>Umbraco.TextBox</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>1</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
		<GenericProperty>
			<Key>bc802f48-a109-497e-9eee-28764079d7cd</Key>
			<Name>Platform Name</Name>
			<Alias>platformName</Alias>
			<Definition>0159fc41-8232-4fef-9ec9-11ab2a537f86</Definition>
			<Type>Umbraco.DropDown.Flexible</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>90854a2b-3479-4c9d-9427-8f2e2bfa4c71</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>