<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3b31a79-2601-4022-8493-ab7083c61a8e" Alias="image-106 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/image1061svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:07</CreateDate>
		<NodeName Default="image-106 1.svg" />
		<SortOrder>1</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/rotbcqi0/image-106-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>