<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa91df2d-4bc0-4056-8bf9-6ad2d0b7e893" Alias="image-104 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/image1041svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:09</CreateDate>
		<NodeName Default="image-104 1.svg" />
		<SortOrder>2</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/13rdggg1/image-104-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>