<?xml version="1.0" encoding="utf-8"?>
<Media Key="36263be9-31c1-4e21-ba5d-51920681c1fb" Alias="Img-4-2 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/Img421svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:18</CreateDate>
		<NodeName Default="Img-4-2 1.svg" />
		<SortOrder>5</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/dodijvg0/img-4-2-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>