<?xml version="1.0" encoding="utf-8"?>
<Media Key="feb753b2-f469-46ef-8c0d-d4afca2ba82c" Alias="Img-1-4 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/Img141svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:15:57</CreateDate>
		<NodeName Default="Img-1-4 1.svg" />
		<SortOrder>13</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/idxbkhds/img-1-4-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>