<?xml version="1.0" encoding="utf-8"?>
<Media Key="510bd455-c08a-4c50-b179-3c91801f009b" Alias="Img-47 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/Img471svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:15:55</CreateDate>
		<NodeName Default="Img-47 1.svg" />
		<SortOrder>12</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/u3ultm2r/img-47-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>