<?xml version="1.0" encoding="utf-8"?>
<Media Key="d011bda4-ee5b-4cd5-b808-f83e49b0189c" Alias="img_choose_01_home01 2.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/img_choose_01_home012svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:12</CreateDate>
		<NodeName Default="img_choose_01_home01 2.svg" />
		<SortOrder>3</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/kyalgmsa/img_choose_01_home01-2.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>