<?xml version="1.0" encoding="utf-8"?>
<Media Key="0575adb9-f492-47a8-b9cc-eeb0ee086946" Alias="img_choose_01_home01 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/img_choose_01_home011svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:22:20</CreateDate>
		<NodeName Default="img_choose_01_home01 1.svg" />
		<SortOrder>14</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/jminpz2j/img_choose_01_home01-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>