<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdfa2784-0f18-47a4-a859-2dd7fa6a222f" Alias="kevin-gardner.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/kevinGardnersvg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:22:23</CreateDate>
		<NodeName Default="kevin-gardner.svg" />
		<SortOrder>15</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/o0nfqlyd/kevin-gardner.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>