<?xml version="1.0" encoding="utf-8"?>
<Media Key="464a103d-1578-4bc0-8f2b-eda951a3ebd0" Alias="Kevin-Gardner 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/KevinGardner1svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:21</CreateDate>
		<NodeName Default="Kevin-Gardner 1.svg" />
		<SortOrder>6</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/z4wprjdd/kevin-gardner-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>