<?xml version="1.0" encoding="utf-8"?>
<Media Key="aba4c354-1436-4bc4-8511-b2d99bad8ed0" Alias="Mask-Group-8 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/MaskGroup81svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:36:15</CreateDate>
		<NodeName Default="Mask-Group-8 1.svg" />
		<SortOrder>4</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/uz5amsjn/mask-group-8-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>