<?xml version="1.0" encoding="utf-8"?>
<Media Key="2902c1a5-c195-469b-ac4c-5be53602393a" Alias="pj1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj1svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:48:44</CreateDate>
		<NodeName Default="pj1.svg" />
		<SortOrder>7</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/k34kbs2o/pj1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>