<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0141d30-3d79-4c94-a3b1-793cd74c97ff" Alias="pj11.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj11svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:26:24</CreateDate>
		<NodeName Default="pj11.svg" />
		<SortOrder>20</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/ykqlmqtc/pj11.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>