<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ac8b89e-87fe-4e2d-89f8-783a6de148c8" Alias="pj22.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj22svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:26:24</CreateDate>
		<NodeName Default="pj22.svg" />
		<SortOrder>19</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/nqchvwhf/pj22.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>