<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbc45b29-adbc-420d-9472-98f3a9e7f92a" Alias="pj3.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj3svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:48:52</CreateDate>
		<NodeName Default="pj3.svg" />
		<SortOrder>10</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/1ptgmwnh/pj3.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>