<?xml version="1.0" encoding="utf-8"?>
<Media Key="03fae12f-5dc2-4f7b-9e29-b99504282a71" Alias="pj33.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj33svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:26:24</CreateDate>
		<NodeName Default="pj33.svg" />
		<SortOrder>18</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/1vofryoz/pj33.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>