<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e037e14-5dd9-4405-8486-fed5e85ca9d4" Alias="pj4 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj41svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:15:53</CreateDate>
		<NodeName Default="pj4 1.svg" />
		<SortOrder>11</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/21bld1gc/pj4-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>