<?xml version="1.0" encoding="utf-8"?>
<Media Key="f81315db-7240-48cc-a121-e7112535fe61" Alias="pj4.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj4svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T18:48:52</CreateDate>
		<NodeName Default="pj4.svg" />
		<SortOrder>9</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/fgulcgs1/pj4.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>