<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd4f6067-8764-414b-b1fa-6737ca9bb8b7" Alias="pj44.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/pj44svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:26:23</CreateDate>
		<NodeName Default="pj44.svg" />
		<SortOrder>17</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/sxop0p15/pj44.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>