<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1e1a032-bc60-48bb-ad95-a41911bba621" Alias="Video 1.svg" Level="1">
	<Info>
		<Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
		<Path>/Video1svg</Path>
		<Trashed>false</Trashed>
		<ContentType>umbracoMediaVectorGraphics</ContentType>
		<CreateDate>2024-09-30T19:24:26</CreateDate>
		<NodeName Default="Video 1.svg" />
		<SortOrder>16</SortOrder>
	</Info>
	<Properties>
		<umbracoFile>
			<Value><![CDATA[/media/yaofga11/video-1.svg]]></Value>
		</umbracoFile>
	</Properties>
</Media>