<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ecac765-4fd4-46c0-9700-73778de52e1c" Alias="Button - Button Types" Level="1">
	<Info>
		<Name>Button - Button Types</Name>
		<EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
		<EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
	</Info>
	<Config>
		<![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]>
	</Config>
</DataType>