<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d137a11-1fb1-43c2-aac2-f63c640e9c35" Alias="Contact - Contact Form - Block List" Level="1">
	<Info>
		<Name>Contact - Contact Form - Block List</Name>
		<EditorAlias>Umbraco.BlockList</EditorAlias>
		<EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
	</Info>
	<Config>
		<![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5d2dc48f-d0a1-4332-a125-906d7b5f4f99",
      "label": "inputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ff239bff-e236-4d81-9099-89204eb2acb4",
      "label": "inputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "15b65d71-0c40-43f9-a1ad-b9fec0cdfb38",
      "label": "inputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "2c155760-a26e-42c9-ac15-0afaf56dfa1c",
      "label": "Button - {=buttonType}"
    }
  ]
}]]>
	</Config>
</DataType>