<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c66bf195-327d-4ab7-984e-2603d354aef6" Alias="Home Page - Social Media" Level="1">
	<Info>
		<Name>Home Page - Social Media</Name>
		<EditorAlias>Umbraco.BlockGrid</EditorAlias>
		<EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
	</Info>
	<Config>
		<![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9fa3c338-2212-440a-9272-84ce57c90345",
      "allowAtRoot": true,
      "label": "Social Media"
    }
  ],
  "gridColumns": 3
}]]>
	</Config>
</DataType>