<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f864a250-3cb1-4a10-a02b-7426370e544a" Alias="InputText - Input Types" Level="1">
	<Info>
		<Name>InputText - Input Types</Name>
		<EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
		<EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
	</Info>
	<Config>
		<![CDATA[{
  "items": [
    "Text",
    "Email",
    "Phone"
  ]
}]]>
	</Config>
</DataType>