<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3656d526-da88-429e-a97a-c1bc95f90519" Alias="Modular Page - Layout" Level="1">
	<Info>
		<Name>Modular Page - Layout</Name>
		<EditorAlias>Umbraco.BlockGrid</EditorAlias>
		<EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
	</Info>
	<Config>
		<![CDATA[{
  "blockGroups": [
    {
      "name": "Containers",
      "key": "f3563650-7f1d-4f18-aa9c-2c0f948fe49b"
    },
    {
      "name": "Content",
      "key": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "4bf8dd17-7620-421f-96fb-2527d6f480ed",
      "allowAtRoot": true,
      "label": "Section - \u0022\u0022(=sectionTitle)\u0022\u0022",
      "areas": [
        {
          "key": "21fc1143-1f57-40d6-97b2-988e6bb61468",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "f3563650-7f1d-4f18-aa9c-2c0f948fe49b"
    },
    {
      "contentElementTypeKey": "e2fe61a4-020e-42f4-a34a-67c7d4c8bb8d",
      "allowAtRoot": false,
      "groupKey": "f3563650-7f1d-4f18-aa9c-2c0f948fe49b",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "1d27009c-cbd4-424b-bd0f-d495d1442b77",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "c832cebb-9b09-4474-81e1-03ababb735fe",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b287e2d8-4f00-4fc0-9984-fa2003eb5f09",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f9148835-deff-4601-a35e-bb3e22d8ecaf",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ae4e3659-290e-45a7-ba6e-16053331344b",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d7e9ac2a-8d7e-4389-8532-44298ca73a04",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f841f4a9-9bc1-4338-9d9f-64746382bf17",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "972eafd6-5870-4a36-a8de-fb21ed39063a",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1a586eea-cd57-465f-8ace-2e5b99386c61",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "89be4018-bd78-4698-aba4-4e61e7dfd5e7",
      "allowAtRoot": false,
      "groupKey": "a2c9e4cb-619a-4010-9b49-d09ad4e8c84d",
      "label": "Rich Text",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]>
	</Config>
</DataType>